{% extends "base.html" %}
{% load static %}
{% load auth_extras %}

{% block css %}
  <link href="{% static 'css/help.css' %}" rel="stylesheet">
  <link href="{% static 'css/project.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
{% endblock css %}

{% block nav %}
  {% include 'nav.html' with help_active='active' %}
{% endblock nav %}

{% block content %}
  <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white help-menu" id="sidebar-wrapper">
          <div class="sidebar-heading border-bottom bg-light d-flex justify-content-between align-items-center">
            <strong>Collecting</strong>
            <div id="sidebarToggle2"><i class="bi bi-x-circle-fill" ></i></div>
          </div>
          <div class="list-group list-group-flush">
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#icons">Icons</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#add_col">Adding</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#edit_col">Editing</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#all_cols">Retrieval/Updating</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#download_col">Downloading</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#delete_col">Deleting</a>
          </div>
        {% if request.user|is_admin %}
          <div class="sidebar-heading border-bottom bg-light"><strong>Administration</strong></div>
          <div class="list-group list-group-flush">
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#add_garden">Adding garden</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#user_creation">User creation</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#garden_creation">Garden creation</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#user_assignment">Assigning user to subgarden</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#plant_creation">Plant creation</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#plant_deactivate">Plant deactivation</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#collection_deletion">Collection deletion</a>
          </div>
        {% endif %}
      </div>
      <!-- Page content wrapper-->
      <div class="container" id="page-content-wrapper" style="z-index: 1; position: relative">
          <!-- Top navigation-->
          <div class="right-corder-container" style="z-index: 3">
            <button class="text-white right-corder-container-button" id="sidebarToggle">
              <i class="bi bi-text-left"></i>
            </button>
          </div>
          <div class="container-fluid">
            {% include 'help/collecting/icons.html' %}
            <br />
            {% include 'help/collecting/add_col.html' %}
            <br />
            {% include 'help/collecting/edit_col.html' %}
            <br />
            {% include 'help/collecting/all_cols.html' %}
            <br />
            {% include 'help/collecting/download_col.html' %}
            <br />
            {% include 'help/collecting/delete_col.html' %}
            <br />
            {% if request.user|is_admin %}
              <br />
              <h1 class="text-primary display-4"><i class="bi bi-tools"></i> Administration manuals</h1>
              <hr />
              {% include 'help/admin/add_garden.html' %}
              <br />
              {% include 'help/admin/user_creation.html' %}
              <br />
              {% include 'help/admin/garden_creation.html' %}
              <br />
              {% include 'help/admin/assign_user.html' %}
              <br />
              {% include 'help/admin/plant_creation.html' %}
              <br />
              {% include 'help/admin/deactivating_plant.html' %}
              <br />
              {% include 'help/admin/collection_deletion.html' %}
              <br />
            {% endif %}
          </div>
      </div>
  </div>
{% endblock content %}

{% block inline_javascript %}
  <script defer src="{% static 'js/help.js' %}"></script>
{% endblock inline_javascript %}
