{% extends "base.html" %}
{% load static %}

{% block css %}
  <link href="{% static 'css/help.css' %}" rel="stylesheet">
  <link href="{% static 'css/project.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
{% endblock css %}

{% block nav %}
  {% include 'nav.html' with help_active='active' %}
{% endblock nav %}

{% block content %}
  <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white help-menu" id="sidebar-wrapper">
          <div class="sidebar-heading border-bottom bg-light d-flex justify-content-between align-items-center">
            <strong>Collecting</strong>
            <div id="sidebarToggle2"><i class="bi bi-x-circle-fill" ></i></div>
          </div>
          <div class="list-group list-group-flush">
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#icons">Icons</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#add_col">Adding</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#edit_col">Editing</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#all_cols">Retrieval/Updating</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#download_col">Downloading</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#delete_col">Deleting</a>
          </div>
{#          <div class="sidebar-heading border-bottom bg-light"><strong>Administration</strong></div>#}
{#          <div class="list-group list-group-flush">#}
{#              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#add_garden">Adding garden</a>#}
{#              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#user_create">User creation</a>#}
{#              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#admin_create">Admin creation</a>#}
{#              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#delete_col_admin">Deleting collections</a>#}
{#              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#deactivate">Deactivating plants</a>#}
{#              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#assigning_user">Assigning user to subgarden</a>#}
{#          </div>#}
      </div>
      <!-- Page content wrapper-->
      <div class="container" id="page-content-wrapper" style="z-index: 1; position: relative">
          <!-- Top navigation-->
          <div class="right-corder-container" style="z-index: 3">
            <button class="text-white right-corder-container-button" id="sidebarToggle">
              <i class="bi bi-text-left"></i>
            </button>
          </div>
          <div class="container-fluid">
            {% include 'help/icons.html' %}
            <br />
            {% include 'help/add_col.html' %}
            <br />
            {% include 'help/edit_col.html' %}
            <br />
            {% include 'help/all_cols.html' %}
            <br />
            {% include 'help/download_col.html' %}
            <br />
            {% include 'help/delete_col.html' %}
          </div>
      </div>
  </div>
{% endblock content %}

{% block inline_javascript %}
  <script defer src="{% static 'js/help.js' %}"></script>
{% endblock inline_javascript %}
