{% extends "base.html" %}
{% load static %}

{% block home_active %}{% endblock home_active %}
{% block nav %}
  {% include 'nav.html' %}
{% endblock nav %}

{% block content %}
  <div class="container">
    <div class="jumbotron-fluid custom-jumbotron p-3 p-md-3 p-lg-4 my-4">
        <h1 class=""><strong>Imprint</strong></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia repellat alias delectus animi itaque libero sit cupiditate corrupti accusamus est minima impedit necessitatibus quidem at, neque nihil quas maiores porro reprehenderit officiis amet magni maxime. Recusandae veritatis harum voluptates, temporibus odio culpa accusamus, velit et expedita vel ipsum, fuga labore sit neque corrupti placeat obcaecati? Sequi alias vitae dolor temporibus assumenda aperiam mollitia corporis eaque ea excepturi dolorum magnam quod, praesentium, harum labore eligendi commodi perspiciatis! Adipisci quisquam doloremque maxime odit id fugiat eaque voluptatem, placeat officia, quia dolor! Explicabo perspiciatis totam, et sit quidem nulla laboriosam in quae magnam.</p>
    </div>
  </div>
{% endblock content %}
