<div class="jumbotron-fluid custom-jumbotron p-3 p-md-3 p-lg-4 my-4 gray-text d-xl-block d-none">
  <h1>Plants</h1>
  <p>{{ garden }}</p>

  {% for plant in plants %}
  <div class="container">
    <a class="plant-row row mb-2" data-toggle="collapse" data-target="#{{ plant.garden_name }}-table" role="button" aria-expanded="false" aria-controls="{{ plant.garden_name }}-table">
      {{ plant.garden_name }} - {{ plant.order }}
    </a>
  </div>

  <div class="collapse" id="{{ plant.garden_name }}-table">
    <div class="card card-body">
      <table class="table table-borderless gray-text">
        <thead class="">
          <tr class="">
            <th scope="col">Plant</th>
            <th scope="col">IVG</th>
            <th scope="col">YLU</th>
            <th scope="col">Flower open</th>
            <th scope="col">Peak flowering</th>
            <th scope="col">Flowering int.</th>
            <th scope="col">Ripe fruits</th>
            <th scope="col">Senescence</th>
            <th scope="col">Senescence int.</th>
          </tr>
        </thead>

        <tbody>
          {% for record in records %}
            <tr>
                <th scope="row">{{ record.record.plant.garden_name }}</th>
                {% for value in record.columns %}
                  {% if value == 'y' %}
                    <td><em>{{ 'yes' }}</em></td>
                  {% elif value == 'm' %}
                    <td><em>{{ 'missed' }}</em></td>
                  {% elif value == 'u' %}
                    <td><em>{{ 'unsure' }}</em></td>
                  {% elif value == 'no' %}
                    <td><em>{{ 'no' }}</em></td>
                  {% elif not value %}
                    <td><em>NULL</em></td>
                  {% else %}
                    <td><em>{{ value }}</em></td>
                  {% endif %}
                {% endfor %}
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>
  {% endfor %}

</div>
