{# TODO: Rename the file #}

<div class="jumbotron-fluid custom-jumbotron p-3 p-md-3 p-lg-4 my-4 gray-text d-xl-block d-none">
  <h1>Plants</h1>
  <p>{{ garden }}</p>

  {% for record in records %}
  <div class="container">
    <a class="plant-row row mb-2" data-toggle="collapse" data-target="#{{ record.record.plant.garden_name }}-{{ record.record.plant.order }}-table" role="button" aria-expanded="{% if order == record.record.plant.order %}true{% else %}false{% endif %}" aria-controls="{{ record.record.plant.garden_name }}-{{ record.record.plant.order }}-table">
      {{ record.record.plant.garden_name }} - {{ record.record.plant.order }}
    </a>
  </div>
  {# TODO: fix BlueLavender-2 issue rendering wrong values in the table #}
  <div class="collapse {% if order == record.record.plant.order %}show{% endif %}" id="{{ record.record.plant.garden_name }}-{{ record.record.plant.order }}-table">
    <div class="card card-body">
      <table class="table table-borderless gray-text">
        <thead class="">
          <tr class="">
            <th scope="col">Date</th>
            <th scope="col">IVG</th>
            <th scope="col">YLU</th>
            <th scope="col">Flower open</th>
            <th scope="col">Peak flowering</th>
            <th scope="col">Flowering int.</th>
            <th scope="col">Ripe fruits</th>
            <th scope="col">Senescence</th>
            <th scope="col">Senescence int.</th>
          </tr>
        </thead>

        <tbody>
          <tr>
              <th scope="row">{{ record.record.timestamp_entry.date}}</th>
              {% for value in record.columns %}
                {% if value == 'y' %}
                  <td><em>{{ 'yes' }}</em></td>
                {% elif value == 'm' %}
                  <td><em>{{ 'missed' }}</em></td>
                {% elif value == 'u' %}
                  <td><em>{{ 'unsure' }}</em></td>
                {% elif value == 'no' %}
                  <td><em>{{ 'no' }}</em></td>
                {% elif not value %}
                  <td><em>NULL</em></td>
                {% else %}
                  <td><em>{{ value }}</em></td>
                {% endif %}
              {% endfor %}
          </tr>
        </tbody>

      </table>
    </div>
  </div>
  {% endfor %}

</div>
