{% for id in ids %}
<div class="form-group row px-sm-1 px-md-3">
  <label for="{{ id.id }}" class="col-10 col-md-5 col-lg-4 pl-0">{{ id.label }}</label>
  <div class="d-flex col-12 col-md-7 col-lg-7 col-xl-6">
    {% if 'intensity' in id.id %}
      <select id="{{ id.id }}" name="{{ id.id }}" disabled class="custom-dropdown no-margin-left col mr-3 new-value-btn disabled-btn">
        <option selected value=""></option>
      {% for i in range %}
        <option value="{{ i }}">{{ i }}%</option>
      {% endfor %}
      </select>
    {% else %}
      <select name="{{ id.id }}" id="{{ id.id }}" class="custom-dropdown no-margin-left col mr-3 new-value-btn">
        <option value="y">yes</option>
        <option value="u">unsure</option>
        <option value="m">missed</option>
        <option value="no" selected>no</option>
      </select>
    {% endif %}

    <button type="button" class="custom-dropdown no-margin-left old-data-btn col d-none" id="{{ id.id }}-button" data-toggle="modal" data-target="#{{ id.id }}-modal">

    </button>
  </div>

</div>
{% endfor %}

<div class="form-group row px-sm-1 px-md-3">
  <label for="maintenance" class="col-10 col-md-5 col-lg-4 pl-0">Maintenance</label>
  <div class="d-flex col-12 col-md-7 col-lg-7 col-xl-6">
    <div class="custom-multiselect col mr-2" name="maintenance">
      <input type="checkbox" class="" id="cut-partly"> Cut partly
      <br />
      <input type="checkbox" class="" id="cut-total"> Cut total
      <br />
      <input type="checkbox" class="" id="covered-natural"> Covered natural
      <br />
      <input type="checkbox" class="" id="covered-artificial"> Covered artificial
      <br />
      <input type="checkbox" class="" id="transplanted"> Transplanted
      <br />
      <input type="checkbox" class="" id="removed"> Removed
      <br />
    </div>
    <button type="button" class="custom-dropdown no-margin-left old-data-btn col text-truncate d-none" id="maintenance-button" data-toggle="modal" data-target="#maintenance-modal">

    </button>
  </div>
</div>

<div class="form-group row px-sm-1 px-md-3">
  <label class="col-10 col-md-5 col-lg-4 pl-0">Remarks</label>
  <div class="d-flex col-12 col-md-7 col-lg-7 col-xl-6">
    <textarea id="remarks" name="remarks" class="col mr-lg-3 custom-dropdown no-margin-left custom-textarea new-value-btn"></textarea>
    <button type="button" class="custom-dropdown no-margin-left old-data-btn col text-truncate d-none " id="remarks-large-button" data-toggle="modal" data-target="#remarks-modal">

    </button>
  </div>
  <label class="col-10 col-md-5 col-lg-4 pl-0"></label>
  <div class="d-flex col-12 col-md-7 col-lg-7 col-xl-6 mt-3 mt-lg-0">
    <button type="button" id="remarks-small-button" class="custom-dropdown no-margin-left old-data-btn col text-truncate  d-lg-none d-none" data-toggle="modal" data-target="#remarks-modal">

    </button>
  </div>

</div>

<div class="form-group row px-sm-1 px-md-3" id="no-obs-div">
  <label class="col-10 col-md-5 col-lg-4 pl-0">No observation possible</label>
  <div class="d-flex col-12 col-lg-7 col-xl-6">
    <div class="custom-multiselect col mr-2" name="maintenance">
        <input type="checkbox" class="" id="no-observation">
    </div>
  </div>
</div>

{#<div class="row justify-content-end px-3">#}
{#  <input href="" type="button" class="wide-button col-12 col-sm-5 col-md-3 col-lg-2 mr-0 mr-sm-3" id="prev-btn" value="Previous">#}
{#  <input type="hidden" id="next-page" value="{% url 'observations:add_observation'%}">#}
{#  <input type="button" class="wide-button col-12 col-sm-5 col-md-3 col-lg-2 mt-3 mt-sm-0" id="next-btn" value="Next">#}
{#</div>#}

<div class="row justify-content-end px-3">
  <input type="button" class="wide-button col-12 col-sm-5 col-md-3 col-lg-2 mt-3 mt-sm-0" id="finish-btn" value="Finish">
</div>
