{% extends "base.html" %}
{% load static %}

{% block observations_active %}active{% endblock observations_active %}

{% block content %}
  {% include 'observations/last_observation.html' %}
  <div class="jumbotron-fluid custom-jumbotron p-3 p-md-3 p-lg-4 my-4">
    <div class="row justify-content-between">
      <h1 class="col-9 col-md-6 col-lg-7 col-xl-8 gray-text">All collections</h1>
      <!-- TODO: add onclick events for buttons or replace with <a> links -->
      <button class="narrow-button pl-2 px-sm-3 col-2 mx-auto col-md-5 col-lg-4 col-xl-3 mx-md-4" onclick="location.href='{% url 'observations:add' %}'">
        <div class="d-inline gray-text">
          <img class="pr-2" src="{% static 'images/add_collection.png' %}" height="35" alt=""/>
          <span class="d-none d-md-inline">Add collection</span>
        </div>
      </button>
    </div>

    <table class="table table-borderless gray-text">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Creator</th>
        </tr>
      </thead>
      <tbody>
        {% for collection in collections %}
        <tr>
          <th scope="row">{{ collection.date }}</th>
          <td>{{ collection.creator }}</td>
          {#     TODO: add buttons for edit; add state (local/online/unfinished)     #}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
