{% extends "base.html" %}
{% block title %}{% if exception_title %}{{ exception_title }}{% else %}Error{% endif %}{% endblock %}
{% load static %}

{% block nav %}
  {% include 'nav.html' %}
{% endblock nav %}

{% block custom_javascript %}
  <script type="module" defer src="{% static 'js/add.js' %}"></script>
  <script type="module" defer src="{% static 'js/collection.js' %}"></script>
  <script type="module" defer src="{% static 'js/observation.js' %}"></script>
{% endblock custom_javascript %}

{% block content %}
  <div class="container">
    <div class="jumbotron-fluid custom-jumbotron p-3 p-md-3 p-lg-4 my-4 gray-text">
      <h1>{% if exception_title %}{{ exception_title }}{% else %}Error{% endif %}</h1>
      <p>{% if exception %}{{ exception }}{% else %}An error occurred.{% endif %}</p>
    </div>
  </div>

{% endblock content %}
