{% load static i18n %}
{% load auth_extras %}

<div style="">
  <nav class="navbar navbar-expand-md navbar-light bg-light nav-shadow">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a id="brand" class="navbar-brand" href="{% url 'home' %}">PhenObs | <span class="text-primary d-none" id="online">Online</span><span class="text-offline d-none" id="offline">Offline</span></a>

      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="home" class="nav-link {{ home_active }}" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item d-xl-none">
            <a class="nav-link {{ observations_default_active }}" href="{% url 'observations:all' %}">Observations</a>
          </li>
          <li class="nav-item dropdown d-xl-block d-none">
            <a class="nav-link dropdown-toggle {{ observations_active }}" data-toggle="dropdown" role="button" aria-expanded="false">Observations</a>
            <div class="dropdown-menu">
              <a class="dropdown-item {{ observations_default_active }} text-offline" href="{% url 'observations:all' %}">Local</a>
              <a class="dropdown-item {{ observations_overview_active }} text-primary" href="{% url 'observations:overview' %}">Overview</a>
            </div>
          </li>
          {% if request.user.is_authenticated and request.user|is_admin %}
            <li class="nav-item">
              <a id="admin_panel" class="nav-link" href="/admin">Administration</a>
            </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {{ help_active }}" id="help" href="{% url 'help' %}">{% translate "Help" %}</a>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link disabled" id="signout" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
            </li>
          {% else %}
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

</div>
