{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

<style>
  html, body {
    background: rgb(90,142,155);
    background:
      radial-gradient(circle, rgba(90,142,155,1) 0%,
      rgba(122,190,169,1) 9%, rgba(125,201,175,1) 10%,
      rgba(158,255,194,1) 17%, rgba(98,165,144,1) 52%,
      rgba(90,150,143,1) 69%, rgba(80,131,142,1) 90%,
      rgba(88,138,152,1) 95%, rgba(91,141,156,1) 100%);
    background-repeat: no-repeat;

    min-height: 1000px;
    height: 100%;
    background-size: 300%;
  }
</style>

<div class="login-jumbotron">
  <div class="col-8 mx-auto">
    <img src="{% static 'images/PhenObs_Logo_Transparent.png' %}" class="col" width="200">
  </div>

  <form class="login px-md-4 px-lg-5" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="primaryAction btn btn-primary col" type="submit">{% translate "Login" %}</button>
{#  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>#}
  </form>
</div>

{% endblock %}
